body {
    background-color: black;
}

.center-align {
    text-align: center;
}

figcaption a {
    font-family: 'Pacifico', 'Brush Script MT', cursive;
    font-display: swap;
    font-size: x-large;
    text-decoration: none;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption a {
    color: lightgray;
    display: block;
}